<header class="header">
  <div class="inner">
    <div class="behind">
      <div class="left-side"></div>
      <div class="right-side"></div>
      <img src="../assets/images/circles-above.png" alt="" class="rings above">
      <img src="../assets/images/circles-below.png" alt="" class="rings below">
    </div>
    <div class="wrapper">
      <div class="center">
        <div class="left-side">
          <h2 class="name">Erik</h2>
          <h4 class="text-beneath-name">Personal</h4>
        </div>
        <div class="right-side">
          <h2 class="name">Olsson</h2>
          <h4 class="text-beneath-name">Portfolio</h4>
          <h5 class="scroll-down">Scroll down to view my works</h5>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="content">
  <div class="inner">
    <div class="wrapper">
      <section class="introduction-block">
        <p class="text">Hello. I'm Erik Olsson 23 years old <span class="with-bg">Graphic Designer</span> specialize in <span class="with-bg">mobile apps</span> from Munich, Germany.</p>
      </section>
      <section class="work-block row">
        <div class="bg"></div>
        <div class="swiper col-lg-6">
          <swiper [config]="config">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../assets/images/screenshot-1.png" alt="" class="screenshot">
              </div>
              <div class="swiper-slide"><img src="../assets/images/screenshot-1.png" alt="" class="screenshot">
              </div>
              <div class="swiper-slide"><img src="../assets/images/screenshot-1.png" alt="" class="screenshot">
              </div>
            </div>
          </swiper>
          <div class="swiper-pagination"></div>
        </div>
        <div class="info col-lg-6">
          <h3 class="title">Just 6ix weeks</h3>
          <p class="explanation">Just 6ix Weeks is a fitness app PSD template.<br>Just 6ix Weeks looks sleek, modern and has fully editable<br>6 screens ready to use for your next design project.</p>
        </div>
      </section>
      <section class="work-block row">
        <div class="bg"></div>
        <div class="swiper col-lg-6 col-lg-push-6">
          <swiper [config]="config">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../assets/images/screenshot-2.png" alt="" class="screenshot">
              </div>
              <div class="swiper-slide"><img src="../assets/images/screenshot-2.png" alt="" class="screenshot">
              </div>
              <div class="swiper-slide"><img src="../assets/images/screenshot-2.png" alt="" class="screenshot">
              </div>
            </div>
          </swiper>
          <div class="swiper-pagination"></div>
        </div>
        <div class="info col-lg-6 col-lg-pull-6">
          <h3 class="title">Ventas UI Kit</h3>
          <p class="explanation">Ventas is designed for travel magazines and readers to share their experience. This UI Kit with 6 fully customizable screens </p>
        </div>
      </section>
      <section class="work-block row">
        <div class="bg"></div>
        <div class="swiper col-lg-6">
          <swiper [config]="config">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../assets/images/screenshot-3.png" alt="" class="screenshot">
              </div>
              <div class="swiper-slide"><img src="../assets/images/screenshot-3.png" alt="" class="screenshot">
              </div>
              <div class="swiper-slide"><img src="../assets/images/screenshot-3.png" alt="" class="screenshot">
              </div>
            </div>
          </swiper>
          <div class="swiper-pagination"></div>
        </div>
        <div class="info col-lg-6">
          <h3 class="title">Faumail</h3>
          <p class="explanation">Faumail is a clean looking mobile UI kit for mail app design including high quality 6 screens. This incredible design theme can help you create great looking mobile app.</p>
        </div>
      </section>
    </div>
    <section class="view-more-block">
      <a href="#">
        <h1 class="view-more-text">View more projects</h1>
      </a>
    </section>
  </div>
</div>
